@model Hospital_Management_System.Models.Billing

@{
    ViewBag.Title = "Bill";
    Layout = "~/Views/Shared/_Layout2.cshtml";

}<h1>Your Appointment is Confirmed!!</h1>
<h4>Bill</h4>
<div class="row">
   
    <div class="col-6">
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.PatientName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PatientName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PatientAge)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PatientAge)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DoctorName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DoctorName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TotalBill)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TotalBill)
            </dd>
        </dl>
    </div>
    <div class="col-6">

        <h4>Scan Here to Pay</h4>
        <img src="~/Content/Images/qr code.jpeg" alt="My Image" id="imageId" />
       
        <style>
            
            #imageId{
                width:270px;
                height:270px;
            }
        </style>


        <div>
            
        </div>
    </div>
    <p>
        
        @Html.ActionLink("Logout", "Logout", "Home", null, new { @class = "btn btn-dark" })
    </p>
</div>