@model Hospital_Management_System.Models.Billing

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Billing</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PatientName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PatientName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PatientAge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PatientAge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DoctorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DoctorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalBill)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalBill)
        </dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.BillID }) |*@
    @*@Html.ActionLink("Back to List", "Index", { @class = "btn btn-dark"; })*@
    @Html.ActionLink("Back To List", "Index", null, new { @class = "btn btn-dark" })
</p>
